body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";  
}
.squares{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%; 
	border-radius: 15%;
	transition: background 0.6s;
}
#container{
	margin: 0 auto;
	max-width: 600px;
}
#colordisplay{
	font-size: 200%;	
}
h1{
	color: white;
	line-height: 1.1;
	padding: 20px 0;
	text-align: center;
	font-weight: normal;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
}
span{
	color: white;
}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	background: blue;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}
button:hover{
	color: white;
	background:  steelblue;
}
#message{
	display: inline-block;
	width: 20%;
	color: black;
}